#!/bin/bash

# update timezone
{{lookup('file', playbook_dir + '/roles/ubuntu/files/set-timezone.sh')}}

# new relic
NEWRELIC_KEY="{{newrelic_secrets['license_key']}}"
HOSTNAME="{{celery_name}}"
APP_NAME="{{general['app_name']}}"

{{lookup('file', playbook_dir + '/roles/newrelic/files/register-instance.sh')}}

touch {{ec2['userdata_end_file']}}
